<div class="main">
    <form-row>
        <form-select [items]="items$ | async" (modelChange)="changeClass($event)">
            类型
        </form-select>
    </form-row>
    <form-row *ngIf="start?.show">
        <form-address [tip]="start.placeholder">
            {{start.title}}
        </form-address>
        <form-input [model]="form.start.detail" [tip]="start.detail.placeholder">
            {{start.detail.title}}
        </form-input>
        <form-input [model]="form.start.mobile" [tip]="start.mobile.placeholder">
            {{start.mobile.title}}
        </form-input>
    </form-row>
    <form-row *ngIf="end?.show">
        <form-address [model]="form.end.detail" [tip]="end.placeholder">
            {{end.title}}
        </form-address>
        <form-input [model]="form.end.mobile" [tip]="end.detail.placeholder">
            {{end.detail.title}}
        </form-input>
        <form-input [tip]="end.mobile.placeholder">
            {{end.mobile.title}}
        </form-input>
    </form-row>
    <form-row *ngIf="weight?.show">
        <form-input (modelChange)="changeWeight($event)" type="number" [tip]="weight?.placeholder">
            {{weight?.title}}
        </form-input>
    </form-row>
    <form-row *ngIf="tiji?.show">
        <form-switch (modelChange)="tiji.detail = !tiji.detail">
            {{tiji.placeholder}}
        </form-switch>
        <div *ngIf="tiji.detail">
            <form-input (modelChange)="changeWeight($event)" #weight type="number" tip="请输入长度">
                长度
            </form-input>
            <form-input (modelChange)="changeWeight($event)" #weight type="number" tip="请输入宽度">
                宽度
            </form-input>
            <form-input (modelChange)="changeWeight($event)" #weight type="number" tip="请输入高度">
                高度
            </form-input>
        </div>
    </form-row>
</div>