<div class="meepo__bmap_header">
    <div class="home" (click)="locationToHome()">
        <i class="home_ab_user_profile_red_dot"></i>
    </div>
    <div class="title">
        <div class="title_item" (click)="_onHeaderItem(item)" [class.active]="item.active && headerItems.length>1" *ngFor="let item of headerItems;index as i;">
            <span>{{item.title}}</span>
        </div>
    </div>
    <div class="help" (click)="switchNotice()">
        <i class="icon_broadcast_message"></i>
    </div>
</div>
<div class="meepo__bmap_topnav" *ngIf="headerItem.items.length>0">
    <div class="item" (click)="_onNavItem(item)" [class.active]="item.active" *ngFor="let item of headerItem?.items; index as i;">{{item.title}}</div>
</div>